body {
    background-color: #f4f4f4;
    color: black;

    font-family: Arial;

    transition: 0.4s;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}
.start-btn {
    background-color: rgb(2, 2, 248);
    color: rgb(240, 240, 243);

    border: none;

    padding: 15px 30px;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;
}
#themeButton {
    position: absolute;

    top: 20px;
    right: 20px;

    padding: 10px 20px;

    cursor: pointer;
}


.dark-mode {
    background-color: #121212;
    color: rgb(249, 246, 246);
}