body {
    background-color: #111827;
    color: white;

    font-family: Arial;

    transition: 0.4s;
}

.container {
    text-align: center;
    margin-top: 150px;
}
h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}
.start-btn {
    background-color: rgb(232, 232, 242);
    color: rgb(0, 0, 19);

    border: none;

    padding: 15px 30px;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;
}
