body {
    background-color: #f4f4f4;
    color: black;

    font-family: Arial;

    transition: 0.4s;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.start-btn {
    background-color: blue;
    color: white;

    border: none;

    padding: 15px 30px;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;
}

/* THEME BUTTON */

#themeButton {
    position: absolute;

    top: 20px;
    right: 20px;

    padding: 10px 20px;

    cursor: pointer;
}

/* DARK MODE */

.dark-mode {
    background-color: #121212;
    color: white;
}